svg line.axis {
  stroke: #767676;
  stroke-width: 1;
  stroke-dasharray: 1,3;
  shape-rendering: crispEdges;
}
svg g.pov path.pov {
  fill: none;
  stroke: #767676;
}
svg g.flat.top rect {
  stroke: #767676;
  stroke-width: 2px;
}
